*.o
*.txt
*.ko
*.mod
*.mod.c
*.order
*.symvers
*.cmd
*.ko.unsigned
*.o.d
!plot/**/*.txt
*.pyc

compile_commands.json
.cache

.vscode

__pycache__/*

bpf_kprobe/bpf/vmlinux.h
workload_test/io_uring/latency_workload
bpf_kprobe/kprobe_loader